body {
    background-color: #f9f7cf;
    text-align: left;
    padding: 15px, 5px 15px
}

header, footer {
    background-color: #f2dcbb;
    width: 480px;
    margin: 0 auto;
}
main {
    width: 480px;
    margin: 0 auto;
}