body {
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}

ul {
    background-color: #444;
    margin: 0 auto;
    text-align: center;
    list-style: none;
}

li {
    text-size-adjust: 24px;
    display: inline-block;
    line-height: 40px;
    height: 40px;
    padding: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}